body {
  width: 100%;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  position: relative;
  background: #ff0000;
}

.childbox-right {
  float: left;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: #a9004b;
}

.childbox-center {
  float: left;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  background: #a9004b;
}

.childbox-left {
  float: left;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  background: #a9004b;
}

.content {
  float: left;
  width: 150px;
  height: 250px;
  background: #00ff51;
}

.side {
  float: left;
  width: 250px;
  height: 250px;
  position: relative;
  background: #8c2727;
}

.sidebox-top {
  float: left;
  width: 140px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 40px;
  border: 5px solid #ffffff;
  background: #ff863f;
}

.sidebox-center {
  float: left;
  width: 140px;
  height: 40px;
  position: absolute;
  top: 100px;
  left: 40px;
  border: 5px solid #ffffff;
  background: #ff863f;
}

.sidebox-bottom {
  float: left;
  width: 140px;
  height: 40px;
  position: absolute;
  top: 160px;
  left: 40px;
  border: 5px solid #ffffff;
  background: #ff863f;
}

.footer {
  width: 100%;
  height: 100px;
  background: #ffd000;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}